.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.ThreeDotResponsebun {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.ThreeDotResponsebun .fa-xmark {
  cursor: pointer;
  font-size: 1.5rem;
  color: #333;
}
.ThreeDotResponsebun .modal-title {
  text-align: center;
  margin-bottom: 20px;
}
.ThreeDotResponsebun .modal-title h2 {
  font-size: 1.5rem;
  color: #333;
}
.ThreeDotResponsebun .View-details,
.ThreeDotResponsebun .status-aprove,
.ThreeDotResponsebun .status-complete {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
.ThreeDotResponsebun .View-details i,
.ThreeDotResponsebun .status-aprove i,
.ThreeDotResponsebun .status-complete i {
  margin-right: 10px;
}
.ThreeDotResponsebun .View-details span,
.ThreeDotResponsebun .status-aprove span,
.ThreeDotResponsebun .status-complete span {
  font-size: 1rem;
  color: #333;
}
.ThreeDotResponsebun .View-details {
  color: #e31d0b;
}
.ThreeDotResponsebun .status-aprove {
  color: #28a745;
}
.ThreeDotResponsebun .status-complete {
  color: #17a2b8;
}