header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 10px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;

    .container {
        max-width: 1400px;
        margin: 0 auto;

        .header {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .brand-logo {
                display: flex;
                align-items: center;
                gap: 10px;

            }

            input {
                padding: 8px 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                outline: none;
                font-size: 1rem;
                width: 500px;
            }

            .buttons {


                button {
                    text-decoration: none;
                    color: #000000;
                    background: none;
                    border: none;
                    font-size: 1rem;
                    cursor: pointer;
                }
            }
        }
    }
}