.admin-dashbord .container {
  max-width: 1400px;
  margin: 0 auto;
}

.admin-dashbord .container .status-buttons button {
  padding: 20px 30px;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

.admin-dashbord .container .status-buttons button.active {
  background-color: rgb(41, 216, 11);
  color: white;
}

.admin-dashbord .container .add-customer-form {
  position: absolute;
  top: 100px;
  left: 33%;
  background-color: aliceblue;
}